.advantages 
  background: #f8f7f7
  padding: 50px 0 50px  
  &-subtitle 
    font-size: 24px 
    margin-bottom: 57px
  &-common 
    overflow-x: hidden
    max-height: 300px
  &-img__text  
    display: flex 
    justify-content: space-between 
    align-items: center 
    margin-bottom: 74px
  &-img 
    width: 458px 
    height: 316px 
  &__text 
    font-size: 16px
    width: 537px 
    height: 184px 
    margin-right: 57px

@media (max-width: 1199px)
  .container
    width: 941px 
    .advantages 
      &-subtitle
        text-align: center   
      &-img__text  
        flex-direction: column 
      &-img 
        margin-bottom: 20px 
      &__text 
        margin: 0
        text-align: justify
        max-width: 458px      

@media (max-width: 992px) 
  .container
    width: 767px
@media (max-width: 768px)
  .container
    width: 576px
@media(max-width: 577px)
  .container
    width: 95%




   
   
     
    
  
    

