@font-face {
 font-family: 'Arial Regular';
 src: url('../fonts/arial/ArialMT.eot');
 src: url('../fonts/arial/ArialMT.eot?#iefix') format('embedded-opentype'), url('../fonts/arial/ArialMT.woff') format('woff'), url('../fonts/arial/ArialMT.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Arial Bold';
 src: url('../fonts/arial/Arial-BoldMT.eot');
 src: url('../fonts/arial/Arial-BoldMT.eot?#iefix') format('embedded-opentype'), url('../fonts/arial/Arial-BoldMT.woff') format('woff'), url('../fonts/arial/Arial-BoldMT.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}