.header
  padding: 10px 0 20px
  background: url('../img/header/bacground.png')no-repeat  
  background-size: cover 
 
  &-common 
    display: flex
    justify-content: space-between 
    color: white 
    margin-bottom: 233px
  &-contacts__menu 
    max-width: 760px 
    width: 100% 
  &-text-icon 
    display: flex
    justify-content: flex-end
    margin: 14px 0 17px 
  &-text 
    display: flex 
    margin-right: 60px
    font-size: 14px
  &-text__address 
    margin-right: 61px 
    position: relative 
    &:before
      content: '' 
      background: url('../img/header/icon1.png')no-repeat
      width: 13px 
      height: 18px  
      position: absolute 
      left: -32px
  &-text__viber 
    position: relative 
    &:before
      content: '' 
      background: url('../img/header/icon2.png')no-repeat
      width: 17px 
      height: 17px  
      position: absolute 
      left: -32px 
  &-icon 
    display: flex
  &-icon__faysbook 
    margin-right: 25px

  // ==== menu ==== 
  &-ul 
    display: flex
    align-items: center
    justify-content: space-around
    height: 44px  
    background: $primary-bg-color
    border-radius: 10px
  &-arrow_1
    position: relative 
    display: block 
    &:after 
      content: ''
      background: url('../img/header/header-arrow.png')no-repeat center 
      width: 16px 
      height: 8px 
      position: absolute 
      top: 9px
      left: 46px  
     
  &-arrow_2 
    position: relative 
    display: block 
    &:after 
      content: ''
      background: url('../img/header/header-arrow.png')no-repeat center 
      width: 16px 
      height: 8px 
      position: absolute 
      top: 9px 
      left: 60px
  a 
    color: black  
    font-size: 18px 
    font-weight: normal
    &:hover 
      font-weight: bold 
  &-dropdown, &-dropdown2
    position: absolute
    background-color: rgba(#3591c8, 0.9)
    li
      margin-bottom: 15px 
    a
      color: white 
      font-size: 14px  
      font-weight: normal
  &-dropdown
    display: none
    width: 194px
    height: 189px 
    top: 44px
    left: -18px
    &__child
      margin: 22px auto  
      width: 138px 
      height: 145px
  .menu1 
    transition: height 0.4s, opacity 0.5s
    position: relative
    padding: 12px 15px
    &:hover 
      &>.header-dropdown  
        display: block 
  &-dropdown2
    display: none
    top: 44px
    left: -20px 
    width: 239px 
    height: 253px
  &-dropdown__child2
      width: 181px 
      height: 213px 
      margin: 20px auto 
  .menu2
    position: relative
    padding: 12px 16px
    &:hover 
      &>.header-dropdown2 
        display: block 
  // ==== sentense ====
  &-sentense
    padding: 40px 0 0 330px 
    max-width: 1352px 
    width: 100% 
    height: 228px 
    background-color: rgba(#3591c8, 0.7)
    margin-bottom: 139px
  &__text 
    font-size: 30px 
    color: white  
    margin: 26px 0 41px 
  &-button 
    width: 254px 
    height: 48px  
  &-anchors  
    padding-left: 330px 
    margin-bottom: 27px 
  .anchors-ul 
    display: flex
    width: 71px
    justify-content: space-between
  .anchor 
    width: 15px 
    height: 15px 
    border-radius: 50% 
    background: #ccecf1 
    display: block 
    &:hover 
      background: $primary-bg-color
  //  ==== /sentense ====   

@media (max-width: 1199px)
  .container
    width: 941px
    .header 
      &-common 
        flex-direction: column 
        align-items: center
  .header-sentense 
        padding: 40px 0 0 115px
  .header-anchors 
        justify-content: center
        display: flex
        padding: 0        
@media (max-width: 992px) 
  .container
    width: 767px
  .header-sentense 
    padding: 0
    display: flex
    flex-direction: column
    align-items: center 
    margin-bottom: 40px
  .header 
      &-text-icon 
        justify-content: center 
        align-items: center
      &-text 
        flex-direction: column 
        margin-right: 0
      &-text__address
            margin: 0 60px 10px 0  
      &__text 
        text-align: center
        margin: 60px 0 41px
@media (max-width: 768px)
  .container
    width: 576px 
  .header 
    &__text 
      font-size: 26px   
@media(max-width: 577px)
  .container
    width: 95% 
    .header 
      &-text-icon 
        flex-direction: column-reverse 
      &-icon 
        margin-bottom: 10px   
      &-text__address 
        margin: 0 0px 10px 0 
      &-ul 
        flex-direction: column
        width: 280px 
        height: auto
      &-ul>li 
          padding: 13px
      &__menu 
        justify-content: center
        display: flex
      &-dropdown, &-dropdown2
        background-color: rgba(#3591c8, 1)  
      &-dropdown 
        left: -62px 
        z-index: 3 
      &-dropdown2 
        left: -78px    

             
  
  

