.button
  color: #1c1c1c
  font-weight: 700
  font-size: 18px
  border-radius: 10px 
  border: none
  background-color: $primary-bg-color
  outline: none
  &:hover
    background-color: lighten($primary-bg-color,10%)
    cursor: pointer
  &:focus
    outline: none 

// .input 
//   font-size: 15px
//   line-height: 24px  
//   padding: 25px
//   border-radius: 10px 
//   border: 1px solid $input-border 
//   outline: none 
